@font-face {
  font-family: 'Palanquin';
  src: url('../fonts/Palanquin-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('../fonts/Montserrat-Black.ttf');
}

* {
  font-family: 'Montserrat Black';
}
