img {
  width: 40px;
  height: 40px;
  border: 2px red solid;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5em;
}

.navbar-brand, .navbar-brand sup {
  text-transform: uppercase;
  font-family: 'Montserrat Black';
}
